<div class="panel-overlay" id="panel-overlay"></div>
<div class="artist-panel" id="artist-panel">
  <button class="panel-close" id="panel-close">&times;</button>
  <img class="panel-img" id="panel-img" src="" alt="" />
  <div class="panel-body">
    <div class="panel-artist-name" id="panel-name"></div>
    <div class="panel-meta" id="panel-meta"></div>
    <div class="panel-bio" id="panel-bio"></div>
    <div class="panel-links" id="panel-links"></div>
    <button class="panel-star-btn" id="panel-star"></button>
  </div>
</div>
